body{
    height: 700px;
}
div{
    display: grid;
}
.nav{
    background-color: burlywood;
    height: 700px;
    width: 20%;
    float: left;
}
.header{
    background-color: cadetblue;
    width: 100%;
    height: 40%;
}
.body{
    background-color: cornflowerblue;
    width: 100%;
    height: 60%;
}